#details {
    height: 550px;
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
}

#details h2 {
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 0;
    /* background-color: ; */
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: flex-start;
    padding: 8px;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 7px;
}

tr:nth-child(even) {
    background-color: rgba(37, 78, 37, 0.075);
}

