<div>
    <header class="text-bg-success text-center text-light p-3">
        <h1 class="fw-bolder">Registro de Livros</h1>
    </header>
    
    <main class="text-bg-ligth m-auto p-5 w-75 h-200">
        <div>
            <app-form-book></app-form-book>
        </div>
    
        <div id="details" class="p-5 text-center">
            <h2 class="mb-3">Detalhes dos livros</h2>
            
            <table>
                <thead class="text-bg-success">
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Ano de Publicação</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </thead>
                <tbody>
                    <!-- @for (element of ; track element) {
                        <tr></tr>
                    } -->
                       <tr>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                    </tr>
                       <tr>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                    </tr>
                       <tr>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                        <td>d</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    
    <footer class="text-bg-dark">
        <p>{{data}}</p>
        <p>Registro de livros | <em>&copy;Baptista Valeta</em></p>
    </footer>
</div>

