<div>
    <header class="text-bg-success text-center text-light p-3">
        <h1 class="fw-bolder">Registro de Livros</h1>
    </header>
    
    <div>
    <main class="text-bg-ligth m-auto p-5 w-75 h-200">
        <div>
            <app-form-book></app-form-book>
        </div>
        
        <div id="details" class="p-5 text-center">
            <h2 class="mb-3">Detalhes dos livros</h2>
            <table>
                <thead class="text-bg-success">
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Categoria</th>
                    <th>Ano de Publicação</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </thead>
            <tbody>
                    @for (books of infoBooks; track $index) {
                        <tr>
                            <td> {{ books.title }} </td>
                            <td> {{ books.author }} </td>
                            <td> {{ books.category }} </td>
                            <td> {{ books.year }} </td>
                            <td>
                                <button class="text-bg-success border-0 fw-bolder p-2 rounded-2">Editar</button>
                            </td>
                            <td>
                                <button class="text-bg-danger border-0 fw-bolder p-2 rounded-2">Remover</button>
                            </td>
                        </tr>
                    }
            </tbody>
        </table>
    </div>
</main>
    
    <footer class="text-bg-dark">
        <p>{{data}}</p>
        <p>Registro de livros | <em>&copy;Baptista Valeta</em></p>
    </footer>
</div>

