<!-- Button trigger modal -->
<button type="button" class="btn btn-success p-3 mb-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Adicionar Livro
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-3 fw-bold text-center w-100" id="exampleModalLabel">Informações do livro</h1>
        <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
      </div>
      <div class="modal-body p-5">
        
        <!-- Formulário de livro -->

        <div class="w-100 mb-3">
            <label for="titulo" class="col-sm-2 col-form-label col-form-label-lg">Título</label>
            <div class="col-sm-10 w-100">
                <input type="text" class="form-control form-control-lg" id="titulo" placeholder="Título do livro">
            </div>
        </div>
        <div class="col w-200 mb-3">
            <label for="autor" class="col-sm-2 col-form-label col-form-label-lg">Autor</label>
            <div class="col-sm-10 w-100">
                <input type="text" class="form-control form-control-lg" id="autor" placeholder="Nome do autor do livro">
            </div>
        </div>
        <div class="col w-200 mb-3">
            <label for="genero" class="col-sm-2 col-form-label col-form-label-lg">Género</label>
            <div class="col-sm-10 w-100">
                <input type="text" class="form-control form-control-lg" id="genero" placeholder="Género do livro">
            </div>
        </div>

        <div class="col w-200 mb-3">
            <label for="ano" class="col-sm-2 col-form-label col-form-label-lg">Ano</label>
            <div class="col-sm-10 w-100">
                <input type="number" class="form-control form-control-lg" id="ano" placeholder="Ano de publicação">
            </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary fs-5" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success fs-5" >Adicionar livro</button>
      </div>
    </div>
  </div>
</div>